<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        (change)="addTask($event)"
        [formControl]="newTaskCtrl"
        (keydown.enter)="addTask($event)"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section *ngIf="((tasks$ | async)?.length || 0) > 0" class="main">
      <ul class="todo-list">
        <li *ngFor="let task of tasks$ | async" [class.completed]="task.completed" [class.editing]="task.edit" (dblclick)="changeEditState(task.id)">
          <div class="view">
            <input class="toggle" type="checkbox" [checked]="task.completed" (change)="toggleTaskCompletion(task.id)" />
            <label>{{ task.title }}</label>
            <button (click)="removeTask(task.id)" class="destroy"></button>
          </div>
          <input class="edit"
          [value]="task.title"
          (change)="updateTask(task,$event)"
          (keydown.escape)="updateTask(task, $event)"
          />
        </li>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer" *ngIf="((tasks$ | async)?.length || 0) > 0">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{ (tasks$ | async)?.length || 0 }}</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/" class="selected">All</a>
        </li>
        <li>
          <a routerLink="/pending">Pending</a>
        </li>
        <li>
          <a routerLink="/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
